name: GitHub Actions
on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
jobs:
  github-actions-tutorial:
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        node-version: [ 20.x ]
    steps:
      - uses: actions/checkout@v4
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: build project
        run: npm run build
      - name: unit tests
        run: npm run test
      - name: e2e tests
        run: npm run test:e2e
      - name: lint code
        run: npm run lint